#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* My Styles */

.main-grid {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(300px, 35%) 1fr;
}

.edit-card {
  --card-background-color: rgb(244, 244, 244);
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 30px;
  margin-top: 20px;
}

.edit-card label,
.edit-card input,
.edit-card textarea {
  display: block;
  margin: 5px;
}

.edit-card > div:first-child {
  display: flex;
  justify-content: space-between;
}

.edit-card button {
  max-height: 50px;
  /* background-color: var(--card-background-color); */
  background: transparent;
  color: black;
  transition: transform 0.3s;
}

input,
textarea {
  background-color: rgba(194, 194, 194, 0.368);
  height: 1.5rem;
  width: 90%;
  color: black;
  border-radius: 10px;
  resize: vertical;
  max-height: 300px;
}

label {
  text-align: left;
  font-weight: bold;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-card h1 {
  margin: 5px;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.edit-card {
  overflow: hidden;
}

.edit-card > div:nth-child(2) {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.edit-card.open > div:nth-child(2) {
  max-height: 700px; /* Adjust based on your content */
  opacity: 1;
}

.CV {
  background-color: white;
  margin: 20px;
  width: 21cm;
  height: 29.7cm;
}

.CV-header {
  min-height: 100px;
  background-color: rgba(52, 91, 219, 0.328);
}

.CV-header h3 {
  margin-top: 0;
  padding-top: 10px; /* Optional: if you want some space from the top */
}

.spreader {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0px 20px;
}

h5 {
  margin: 0px;
}

h5.middle-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.education-flex {
  display: flex;
  margin: 20px 0;
  /* border-top: 1px solid; */
  position: relative;
}

.delete-button {
  position: absolute;
  right: -40px;
  background: transparent;
  color: red;
  border-radius: 50%;
  width: 40px;
  height: 20px;
  padding: 0;
}

.edit-button {
  position: absolute;
  right: -70px;
  background: transparent;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 20px;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M16.293 2.293l5.414 5.414a1 1 0 0 1 0 1.414L8.414 22.414A1 1 0 0 1 7.707 22.707H2.293A1 1 0 0 1 1 21.414V16a1 1 0 0 1 .293-.707L14.586 2a1 1 0 0 1 1.414 0zM3 16.414V20h3.586l12-12L15 4.414l-12 12z'/%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
}

.delete-button:hover,
.edit-button:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

.education-flex > div:first-child {
  /* flex: 0; */
  /* width: 300px; */
  flex-basis: 30%;
}

.education-flex > div:nth-child(2) {
  flex-basis: 70%;
}

.education-title {
  background-color: rgba(0, 0, 0, 0.115);
}

.school-name {
  font-weight: 602;
}

.degree-name {
  text-align: start;
}

.description {
  white-space: pre-wrap;
  text-align: start;
  padding-left: 5px;
}
