#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* My Styles */

.main-grid {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(300px, 35%) 1fr;
}

.edit-card {
  --card-background-color: rgba(244, 244, 244, 0.701);
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 30px;
}

.edit-card label,
.edit-card input {
  display: block;
  margin: 5px;
}

.edit-card > div:first-child {
  display: flex;
  justify-content: space-between;
}

.edit-card button {
  max-height: 50px;
  /* background-color: var(--card-background-color); */
  background: transparent;
  color: black;
  transition: transform 0.3s;
}

input {
  background-color: rgba(194, 194, 194, 0.368);
  height: 1.5rem;
  width: 90%;
  color: black;
  border-radius: 10px;
}

label {
  text-align: left;
  font-weight: bold;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-card h1 {
  margin: 5px;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.edit-card {
  overflow: hidden;
}

.edit-card > div:nth-child(2) {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.edit-card.open > div:nth-child(2) {
  max-height: 500px; /* Adjust based on your content */
  opacity: 1;
}

.CV {
  background-color: white;
  margin: 20px;
  width: 21cm;
  height: 29.7cm;
}

.CV-header {
  min-height: 100px;
  background-color: rgba(124, 124, 145, 0.379);
}

.spreader {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0px 20px;
}

h5 {
  margin: 0px;
}

h5.middle-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
